@font-face {
  font-family: "iconfont"; /* Project id 3177887 */
  src: url('iconfont.woff2?t=1658802829235') format('woff2'),
       url('iconfont.woff?t=1658802829235') format('woff'),
       url('iconfont.ttf?t=1658802829235') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e676";
}

.icon-up:before {
  content: "\e7eb";
}

.icon-down:before {
  content: "\e7ec";
}

